[submodule "wam_msgs"]
	path = wam_msgs
	url = https://github.com/OSUrobotics/wam_msgs.git
[submodule "wam_srvs"]
	path = wam_srvs
	url = https://github.com/OSUrobotics/wam_srvs.git
[submodule "bag_tools"]
	path = bag_tools
	url = https://github.com/OSUrobotics/bag_tools
