<?xml version="1.0"?>
<launch>
	<!-- One camera -->
	<arg name="manager" default=""/>
	<arg name="serial_no" default=""/>
	<arg name="camera_ns" default=""/>
	<arg name="ar_marker" default=""/>
	<arg name="realsense_fps" default=""/>

	<include file="$(find realsense_camera)/launch/includes/realsense_r200_multiple_cameras.launch.xml">
		<arg name="manager"	value="$(arg manager)" />
		<arg name="serial_no"	value="$(arg serial_no)" />
		<arg name="usb_port_id" value="" /> 

		<arg name="camera"	value="$(arg camera_ns)" />
	</include>
	<include file="$(find grasp_manager)/launch/ar_publisher.launch">
		<arg name="cam_image_topic" value="rgb/image_raw" />
		<arg name="cam_info_topic" value="rgb/camera_info" />
		<arg name="output_frame" value="$(arg camera_ns)_rgb_optical_frame" />
	</include>
	<node name="online_pointcloud_transformer" type="online_pointcloud_transformer" pkg="grasp_manager" output="screen" >
		<remap from="~trigger" to="pointcloud_trigger"/>
		<remap from="~input" to="depth/points" />
		<remap from="~output" to="depth/points/world_frame" />
		<rosparam param="target_frame">$(arg ar_marker)</rosparam>
	</node>

	<!-- Realsense fps rate limiters -->
	<node pkg="topic_tools" type="throttle" name="realsense_throttle" output='screen' args='messages rgb/image_raw $(arg realsense_fps) rgb/image_raw/throttled'>
		<rosparam param='lazy'>True</rosparam>
	</node>
</launch>
