<?xml version="1.0"?>
<launch>
	<include file="$(find grasp_manager)/launch/data_manager.launch" />
	
	<!-- Hand control via gui -->
	<!--<node name="gui_sliders" type="gui_sliders.py" pkg="bhand_sliders" output="screen"/>-->
	<node name="bhand_sliders" type="bhand_sliders.py" pkg="bhand_sliders" output="screen"/>
	
	<!-- Sound synchronization -->
	<node name="sounder" type="sounder.py" pkg="bhand_sliders" output="screen"/>
	
	<!-- Start up the kinect -->
	<include file="$(find grasp_manager)/launch/kinect2.launch" />

	<!-- Start up the realsenses -->
	<include file="$(find grasp_manager)/launch/realsense.launch" />
</launch>
